.Style1{font-family: 'Arial',sans-serif;
font-size: 39px; 
font-weight:700; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
.Style2{font-family: 'Arial',sans-serif;
font-size: 42px; 
font-weight:700; 
color: #FEFFFF;
word-wrap: break-word;}
.Style3{font-family: 'Arial',sans-serif;
font-size: 42px; 
font-weight:700; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
.linkStyle_4{font-family: 'Helvetica',sans-serif;
font-size: 31px; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
a.linkStyle_4:visited{color:#FEFB00; text-decoration:underline;}
a.linkStyle_4:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_7{font-family: 'Helvetica',sans-serif;
font-size: 31px; 
color: #0432FF;
text-decoration: underline; 
/*000#00F900#FEFB00#FF2600*/
word-wrap: break-word;}
a.linkStyle_7:visited{color:#FEFB00; text-decoration:underline;}
a.linkStyle_7:hover{color:#FF2600; text-decoration:underline;}
body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale}