.Style1{font-family: 'Arial',sans-serif;
font-size: 33px; 
font-weight:700; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
.Style2{font-family: 'Arial',sans-serif;
font-size: 28px; 
font-weight:700; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
.Style3{font-family: 'Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
.Style4{font-family: 'Arial',sans-serif;
font-size: 46px; 
margin:0;
word-wrap: break-word;}
.Style5{font-family: 'Arial',sans-serif;
font-size: 33px; 
margin:0;
word-wrap: break-word;}
.Style6{font-family: 'Arial',sans-serif;
font-size: 18px; 
margin:0;
word-wrap: break-word;}
.Style7{font-family: 'Arial',sans-serif;
font-size: 12px; 
margin:0;
color: #F6FEFA;
word-wrap: break-word;}