.Style1{font-family: 'Arial',sans-serif;
font-size: 56px; 
font-weight:700; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}
.Style2{font-family: 'Arial',sans-serif;
font-size: 25px; 
font-weight:700; 
margin:0;
color: #FEFFFF;
word-wrap: break-word;}